<h4 class="text-center mt-4">Thùng rác</h4>
<div class="container d-flex justify-content-center">
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Video Id</th>
                <th scope="col">Ngày xóa</th>
                <th scope="col">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <div class="d-flex align-items-center">
                <tr>
                    <th scope="row">{{indexBase @index}}</th>
                    <td>{{name}}</td>
                    <td>{{videoId}}</td>
                    <td>
                        {{#if deletedAt}}
                        {{dateFormat deletedAt}}
                        {{/if}}
                    </td>
                    <td>
                        <!-- Button trigger modal -->
                        <button onclick="confirmFunction('{{name}}', '{{_id}}')" id="modalButton" type="button"
                            class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#restore-modal">Khôi
                            phục</button>
                    </td>
                </tr>
            </div>
            {{/each}}
        </tbody>
    </table>
</div>
{{#unless courses}}
<p class="text-center">Thùng rác trống.</p>
{{/unless}}

{{!-- restore form --}}
<form id="form-restore" method="POST"></form>

<!-- Modal -->
<div class="modal fade" id="restore-modal" tabindex="-1" aria-labelledby="restore-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="restore-modalLabel">Khôi phục khóa học</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modal-body" class="modal-body">

            </div>
            <div class="modal-footer">
                <button id="confirm-restore" type="button" class="btn btn-primary">Khôi phục</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>


<script>
    function confirmFunction(name, _id) {
        document.getElementById('modal-body').innerHTML = `Bạn có muốn khôi phục khóa học <b>${name}</b> không?`
        document.getElementById('confirm-restore').setAttribute("onclick", `confirmRestore('${_id}')`);
    }

    function confirmRestore(_id) {
        let form = document.getElementById('form-restore');
        form.setAttribute("action", `restore/${_id}`);
        form.submit();
    }
</script>